* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f0f0f0;
}
.isi {
    width: 100%;
    
    justify-content: center;
    display: flex;
}
.container {
    width: 500px;
    border-radius: 10px;
    border: 2px solid;
    margin: 50px;
    min-height: 520px;
    height: auto;
    overflow-y: auto;
    background-color: #ded9a9;
    position: relative;
}
input[type='text'] {
    width: 200px;
    height: 30px;
    padding-left: 20px;
    position: absolute;
    left: 110px;
    top: 50px;
    border-radius: 10px;
}
.tombol {
    position: absolute;
    left: 320px;
    top: 44px;
    font-size: 30px;
}
.tombol button {
    padding: 8px;
    border-left: none;
    border-radius: 2px;
    background-color: #eb5959;
}
ul {
    position: absolute;
    left: 170px;
    top: 100px;
    list-style: none;
}
input[type="checkbox"] {
    position: absolute;
    left: -40px;
    width: 15px;
}

li {
    margin: 40px 0px;
    font-weight: bold;
    display: flex;
    border-bottom: 2px solid;
}
li.checked {
    text-decoration: line-through;
}
li button {
    position: absolute;
    background-color: #ded9a9;
    left: 200px;
    font-size: 20px;
    border: none;
    width: 20px;
    border-radius: 20px;
}
li button:hover {
    background-color: red;
}
li span {
    position: absolute;
    left: 200px;
    font-size: 20px;
    font-weight: none;
    border: 2px solid;
}
